

<div class="main top-main">
  <div class="top-message">
    <h2>Twitterクローン</h2>
    <p>今の気持ちをつぶやいてみよう！</p>
    <p>これは、ProgateのRails学習で作られたアプリのクローンです</p>
    <h2>本日のRuby On Railsの勉強まとめ</h2>
    <p>はじめて自分でRailsサーバーを立ち上げてみたぞ！</p>
    <p>やり方さえ分かればこれは楽しいではないか</p>
    <p></p>
    <P>
        <%= 10 + 1 %>
    </P>
    
  <img src="/self_photo.JPG"> 
  </div>
</div>
