

<div class="main top-main">
  <div class="top-message">
    <h2>つぶやきで、世界はつながる</h2>
    <p>今の気持ちをつぶやいてみよう！</p>
  </div>
</div>

<div>
<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>
<h2>本日のRuby On Railsの勉強まとめ</h2>
<p>はじめて自分でRailsサーバーを立ち上げてみたぞ！</p>
<p>やり方さえ分かればこれは楽しいではないか</p>
<p></p>
<P>
    <%= 10 + 1 %>
</P>
<img src="/self_photo.JPG">

</div>
